.checkout {
  justify-content: center;
  display: flex;
  margin-bottom: 0px;
}

.checkout-details{
  width: 70%;
  padding: 32px;
  border-radius: 16px;
  margin-right: 32px;
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.3);
}

.host-details {
  width: 30%;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.3);
}

.confirmation-message {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 48px !important;
  border-bottom: 4px solid #E7E7EA;
  padding-bottom: 20px;
}

#you-are-going {
  text-transform: uppercase;
}

.check-guests {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0px;
}

.check-dates {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.address {
  display: flex;
  height: 70px;
  justify-content: space-between;
  // padding-top: 40px;
  // padding-bottom: 40px;
}

.address-listing{
  margin-left: 86px;
}

#avatar-host-size {
  width: 96px;
  height: 96px;
}

.host-details {
  padding-top: 16px;
}

.host-thumbnail-checkout {
  padding-bottom: 16px;
}

.host-details p {
  padding-bottom: 16px;
}

.host-details a {
  margin-bottom: 16px;
}

p {
  font-size: 24px;
}

a {
  font-size: 18px;
}

.confirmation {
  margin: auto !important;
  width: 80%;
  text-align: center;
  color: #121730;
  padding-bottom: 220px;
  padding-top: 60px;
}

.island-image {
  width: 100%;
  border-radius: 5px;
}

.island-image img {
  width: 100%;
  border-radius: 5px;
}

.booking-details{
  padding-top: 48px;
  padding-bottom: 24px;
}

h1 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.booking-details h3 {
  font-size: 29px;
}

.address-listing p {
  font-size: 18px;
  margin-right: 24px;
}

.address-listing {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  margin-left: 25px;
}

.address-detail p {
  letter-spacing: 1px;
  font-weight: bold;
}

.check-in-title {
  margin-top: 0px;
}

.check-in-title p{
  margin-bottom-bottom: 0px;
}

.btn-guest {
  padding: 12px 20px;
  font-size: 14px;
}

.cover-fit {
  object-fit: cover;
}




