// Specific CSS for your home-page
.background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

#header {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
  height: 39px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;

  color: #FFFFFF;
}
