.island-new-input{
  margin-top: 24px;
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.3);
  padding: 32px 48px;
  margin-bottom: 48px;
  border-radius: 16px;
  margin: auto !important;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #121730;
}

.form-control {
  border: 0;
    outline: 0;
    border-bottom: 0.7px solid #C9C9C9;
    background: transparent;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

.link-island-new {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #121730;
}


