h2, h3, h4 {
font-family: 'Montserrat', sans-serif;
letter-spacing: 9px;
font-weight: 300;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: 22px;
}

.island-info h3 {
  font-size: 29px;
  font-weight: bold;
}

p, .booking-form {
  font-size: 21px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
}

h4 {
  font-size: 14px;
}

body {
  background-color: white;
}

#image {
  object-fit: cover;
  height: 450px;
  width: 300px;
}

.container {
  // margin: 30px 50px;
  text-align: center;
  margin-bottom: 50px;
}

.row.info {
  margin-top: 45px;
}

.island-info {
  padding: 40px 16px 49px 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0px 55px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 550px;
}

#island-description {
  text-align: justify;
  line-height: 31px;
  letter-spacing: 1px;
  padding: 16px;
}

.title {
  margin-top: 20px;
}

form.new_booking {
  input {
    font-size: 20px;
  }
}

#showpage-carousel {
  margin: auto;
  height: auto;
}

.fields {
  margin: 0 20px;
}

#price {
  margin: 30px 0px 60px 0px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  width: 700px;
  margin-bottom: 16px;
  padding-bottom: 26px;
  border-bottom: 4px solid #E7E7EA;
}

.title h3 {
  margin-top: 8px;
}

.booking-form {
  padding: 40px 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0px 55px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 550px;
}

.booking-form h3 {
  font-size: 29px;
  font-weight: bold;
}

.form-group {
  padding-top: 33px;
}


.island-info h4 {
  font-size: 24px;
  color: #8E004C;
}


