body{
background-color: #FAFAFA;
}

h1 {
  font-family: "Montserrat", "sans-serif";
  letter-spacing: 2px;
}

#showing-number {
  letter-spacing: 9px;
  margin: 10px 0px 24px 0px;
  font-weight: 900;
}

.total-page-index {
  width: 95vw;
  margin: 16px auto;
}

.search-number {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information-index {
  display:flex;
  margin-top: 16px;
  padding-top: 30px;
  border-top: 4px solid #E7E7EA;
}

.listings-container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map-index {
  width: 45%;
}

#map {
  height: 100vh;
  position: sticky;
  top: 30px;
}

.form-search {
  border: 1px solid #121730;
  padding: 12px 205px 12px 16px;
  background-color: transparent;
  font-style: italic;
  font-family: "Libre Franklin", "sans-serif";
  letter-spacing: 2px;
  margin-right: -6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}


.search-bar-index {
  margin-bottom: 16px;
}

.island-image-icon img{
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

#form-placeholder::placeholder {
outline: none;
color: #121730;
}



