body {
  background-color: white;
}

.profile-card {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

.profile-card img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.profile-card h4 {
  font-size: 16px;
}

.profile-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 18px;
}

.heading {
  text-align: center;
}

.listings h3 {
  margin-top: 20px;
}

h3 {
  // text-align: left;
}
.listings, .bookings {
  margin-top: 50px;
}

.heading {
  border-bottom: 4px solid #E7E7EA;
  margin: 0 215px;
  padding-bottom: 14px;
}
