<div class="header">
  <h1 id= 'ciao' >TROPIC LIKE IT'S HOT
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=https://res.cloudinary.com/dh6gdchfj/image/upload/v1605701092/pexels-photo-1536428_mfve9d.jpg %>')">
  </div>
<p>Find me in app/views/pages/home.html.erb</p>
