<div class="home-page-container">
  <div class="banner">
    <div class="banner-content">
      <div>
        <h1>TROPIC LIKE IT'S HOT</h1>
      </div>
        <div id="typed-strings" class="typed-color">
          <p>RENT A HOUSE...?</p>
          <p>RENT A VILLA...?</p>
          <p>RENT AN <span style="text-decoration: underline">ISLAND</span></p>
        </div>
      <span id="typed"></span>
      <div class="search-bar">
        <%= form_tag islands_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form_control form-search form-search-colour", id: "form-search-home",
          placeholder: "Search for Islands..."
          %>
          <%= submit_tag "Search", class: "btn-search-home" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="featured-islands">
    <div class="fave-islands">
      <h2>OUR FAVOURITE ISLANDS</h2>
    </div>

    <div class="island-cards">
      <div class="fi-card">
        <div class="fi-image">
          <img src="https://images.pexels.com/photos/1536428/pexels-photo-1536428.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">KOH LIPE</h2>
        </div>
      </div>

      <div class="fi-card">
        <div class="fi-image">
          <img src="https://images.unsplash.com/photo-1529333241880-9558d5e5e064?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80" alt="">
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">CUBA</h2>
        </div>
      </div>

      <div class="fi-card">
        <div class="fi-image">
          <img class="image-js" src="https://images.unsplash.com/photo-1529420705456-5c7e04dd043d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="">
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">KOH TAO Hello</h2>
        </div>
      </div>
    </div>

  </div>
</div>
