<div>
  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dh6gdchfj/image/upload/v1605701092/pexels-photo-1139040_ckwk85.jpg')">
    <h1 id='header' >RENT YOUR PRIVATE ISLAND</h1>
    <div class="topnav">
      <input type="text" placeholder="Search..">
    </div>
  </div>
</div>

