<!-- class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dh6gdchfj/image/upload/v1605701092/pexels-photo-1139040_ckwk85.jpg')"> -->

<!--     <h1 id='header' >RENT YOUR PRIVATE ISLAND</h1>
    <div id="typed-strings" class="typed-color">
      <p>FOR YOUR NEXT HOLIDAY, RENT A HOUSE</p>
      <p>FOR YOUR NEXT HOLIDAY, RENT A VILLA</p>
      <p>FOR YOUR NEXT HOLIDAY, RENT AN <span style="text-decoration: underline">ISLAND</span></p>
    </div>
    <span id="typed"></span>
    <input type="text" placeholder="Search.."> -->


<div class="banner">
  <div class="banner-content">
    <div>
      <h1>RENT YOUR PRIVATE ISLAND</h1>
    </div>
    <div id="typed-strings" class="typed-color">
      <p>RENT A HOUSE..?</p>
      <p>RENT A VILLA...?</p>
      <p>RENT AN <span style="text-decoration: underline">ISLAND!</span></p>
    </div>
    <span id="typed"></span>
    <div class="search-bar">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>
</div>
