.background input{
    width: 100%;
    border: 1px solid hsla(0,0%,100%,.5);
    background: none;
    height: 64px;
    color: white;
    padding-top: 15px;
    padding-right: 106px!important;
    padding-left: 26px!important;
    font-size: 1.6rem!important;
    font-style: italic;
    width: 300px;
    top: 500pc;
    left: center;
}
